In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree 
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
import joblib

In [2]:
df = pd.read_csv('career_pred.csv')

In [3]:
df.head()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,69,63,78,87,94,94,87,84,61,9,...,Prayer books,salary,no,stubborn,Management,salary,hard worker,yes,no,Database Developer
1,78,62,73,60,71,70,73,84,91,12,...,Childrens,salary,yes,gentle,Technical,salary,hard worker,no,yes,Portal Administrator
2,71,86,91,87,61,81,72,72,94,11,...,Travel,Work,no,stubborn,Management,work,hard worker,no,yes,Portal Administrator
3,76,87,60,84,89,73,62,88,69,7,...,Romance,Work,yes,gentle,Management,work,smart worker,yes,yes,Systems Security Administrator
4,92,62,90,67,71,89,73,71,73,4,...,Cookbooks,salary,no,stubborn,Management,work,hard worker,yes,yes,Business Systems Analyst

In [4]:
df.dtypes

Acedamic percentage in Operating Systems     int64
percentage in Algorithms                     int64
Percentage in Programming Concepts           int64
Percentage in Software Engineering           int64
Percentage in Computer Networks              int64
Percentage in Electronics Subjects           int64
Percentage in Computer Architecture          int64
Percentage in Mathematics                    int64
Percentage in Communication skills           int64
Hours working per day                        int64
Logical quotient rating                      int64
hackathons                                   int64
coding skills rating                         int64
public speaking points                       int64
can work long time before system?           object
self-learning capability?                   object
Extra-courses did                           object
certifications                              object
workshops                                   object
talenttests taken?                          object
olympiads                                   object
reading and writing skills                  object
memory capability score                     object
Interested subjects                         object
interested career area                      object
Job/Higher Studies?                         object
Type of company want to settle in?          object
Taken inputs from seniors or elders         object
interested in games                         object
Interested Type of Books                    object
Salary Range Expected                       object
In a Realtionship?                          object
Gentle or Tuff behaviour?                   object
Management or Technical                     object
Salary/work                                 object
hard/smart worker                           object
worked in teams ever?                       object
Introvert                                   object
Suggested Job Role                          object
dtype: object

In [5]:
df = df.drop('Acedamic percentage in Operating Systems', axis=1)

In [6]:
df = df.drop('percentage in Algorithms', axis=1)

In [7]:
df = df.drop('Percentage in Programming Concepts', axis=1)

In [8]:
df = df.drop('Percentage in Software Engineering', axis=1)

In [9]:
df = df.drop('Percentage in Computer Networks', axis=1)

In [10]:
df = df.drop('Percentage in Electronics Subjects', axis=1)

In [11]:
df = df.drop('Percentage in Computer Architecture', axis=1)

In [12]:
df = df.drop('Percentage in Mathematics', axis=1)

In [13]:
df = df.drop('Percentage in Communication skills', axis=1)

In [14]:
df = df.drop('Logical quotient rating', axis=1)

In [15]:
df = df.drop('hackathons', axis=1)

In [16]:
df = df.drop('coding skills rating', axis=1)

In [17]:
df = df.drop('can work long time before system?', axis=1)

In [18]:
df = df.drop('certifications', axis=1)

In [19]:
df = df.drop('workshops', axis=1)

In [20]:
df = df.drop('talenttests taken?', axis=1)

In [21]:
df = df.drop('olympiads', axis=1)

In [22]:
df = df.drop('interested career area ', axis=1)

In [23]:
df = df.drop('Job/Higher Studies?', axis=1)

In [24]:
df = df.drop('Type of company want to settle in?', axis=1)

In [25]:
df = df.drop('Taken inputs from seniors or elders', axis=1)

In [26]:
df = df.drop('Salary Range Expected', axis=1)

In [27]:
df = df.drop('In a Realtionship?', axis=1)

In [28]:
df.head()

,Hours working per day,public speaking points,self-learning capability?,Extra-courses did,reading and writing skills,memory capability score,Interested subjects,interested in games,Interested Type of Books,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,9,8,yes,yes,excellent,excellent,cloud computing,no,Prayer books,stubborn,Management,salary,hard worker,yes,no,Database Developer
1,12,3,no,yes,poor,medium,networks,yes,Childrens,gentle,Technical,salary,hard worker,no,yes,Portal Administrator
2,11,3,no,yes,poor,excellent,hacking,yes,Travel,stubborn,Management,work,hard worker,no,yes,Portal Administrator
3,7,5,yes,no,medium,excellent,networks,no,Romance,gentle,Management,work,smart worker,yes,yes,Systems Security Administrator
4,4,3,no,no,poor,excellent,Computer Architecture,yes,Cookbooks,stubborn,Management,work,hard worker,yes,yes,Business Systems Analyst

In [29]:
df=df.dropna()
df.isna().sum().sum()

0

In [30]:
df.duplicated()
df.drop_duplicates()

,Hours working per day,public speaking points,self-learning capability?,Extra-courses did,reading and writing skills,memory capability score,Interested subjects,interested in games,Interested Type of Books,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,9,8,yes,yes,excellent,excellent,cloud computing,no,Prayer books,stubborn,Management,salary,hard worker,yes,no,Database Developer
1,12,3,no,yes,poor,medium,networks,yes,Childrens,gentle,Technical,salary,hard worker,no,yes,Portal Administrator
2,11,3,no,yes,poor,excellent,hacking,yes,Travel,stubborn,Management,work,hard worker,no,yes,Portal Administrator
3,7,5,yes,no,medium,excellent,networks,no,Romance,gentle,Management,work,smart worker,yes,yes,Systems Security Administrator
4,4,3,no,no,poor,excellent,Computer Architecture,yes,Cookbooks,stubborn,Management,work,hard worker,yes,yes,Business Systems Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,4,8,no,no,poor,excellent,Software Engineering,yes,Journals,stubborn,Management,salary,smart worker,yes,no,Technical Engineer
19996,7,8,no,no,medium,excellent,Management,yes,Cookbooks,stubborn,Management,salary,hard worker,no,yes,E-Commerce Analyst
19997,7,3,yes,yes,medium,excellent,networks,yes,Drama,gentle,Technical,work,hard worker,no,yes,Business Intelligence Analyst
19998,5,5,no,no,poor,poor,IOT,no,Travel,gentle,Management,work,smart worker,yes,no,Software Quality Assurance (QA) / Testing
19999,7,6,yes,yes,excellent,excellent,IOT,no,Comics,gentle,Management,work,hard worker,yes,no,Applications Developer

In [31]:
df = df.drop_duplicates(subset=df.columns.difference(['Suggested Job Role']))

In [32]:
df.shape

(19996, 16)

In [33]:
df['Suggested Job Role'].nunique()

34

In [34]:
df['Suggested Job Role'].value_counts()

Suggested Job Role
Network Security Administrator               1112
Network Security Engineer                     630
Network Engineer                              621
Project Manager                               602
Database Administrator                        593
Portal Administrator                          592
Information Technology Manager                591
Software Engineer                             589
UX Designer                                   589
Design & UX                                   588
Software Developer                            587
CRM Business Analyst                          584
Business Systems Analyst                      582
Database Developer                            581
Solutions Architect                           577
Software Systems Engineer                     575
Software Quality Assurance (QA) / Testing     571
Database Manager                              570
Web Developer                                 570
CRM Technical Developer                       567
Technical Support                             565
Quality Assurance Associate                   565
Data Architect                                564
Systems Security Administrator                562
Information Technology Auditor                558
Technical Services/Help Desk/Tech Support     558
Technical Engineer                            557
Applications Developer                        550
Systems Analyst                               550
E-Commerce Analyst                            546
Information Security Analyst                  543
Business Intelligence Analyst                 540
Mobile Applications Developer                 538
Programmer Analyst                            529
Name: count, dtype: int64

In [35]:
import random

def remove_random_rows(df, job_role, n_rows):
    matching_indices = df[df['Suggested Job Role'] == job_role].index
    if len(matching_indices) < n_rows:
        print(f"Error: There are only {len(matching_indices)} rows with the '{job_role}' job role. Cannot remove {n_rows} rows.")
        return df
    
    random_indices = random.sample(list(matching_indices), n_rows)
    df_dropped = df.drop(random_indices, inplace=False)
    
    return df_dropped

In [36]:
df = remove_random_rows(df, 'Network Security Administrator', 500)

In [37]:
df['Suggested Job Role'].value_counts()

Suggested Job Role
Network Security Engineer                    630
Network Engineer                             621
Network Security Administrator               612
Project Manager                              602
Database Administrator                       593
Portal Administrator                         592
Information Technology Manager               591
Software Engineer                            589
UX Designer                                  589
Design & UX                                  588
Software Developer                           587
CRM Business Analyst                         584
Business Systems Analyst                     582
Database Developer                           581
Solutions Architect                          577
Software Systems Engineer                    575
Software Quality Assurance (QA) / Testing    571
Database Manager                             570
Web Developer                                570
CRM Technical Developer                      567
Technical Support                            565
Quality Assurance Associate                  565
Data Architect                               564
Systems Security Administrator               562
Information Technology Auditor               558
Technical Services/Help Desk/Tech Support    558
Technical Engineer                           557
Applications Developer                       550
Systems Analyst                              550
E-Commerce Analyst                           546
Information Security Analyst                 543
Business Intelligence Analyst                540
Mobile Applications Developer                538
Programmer Analyst                           529
Name: count, dtype: int64

In [38]:
df.shape

(19496, 16)

In [39]:
df['Hours working per day'].unique()

array([ 9, 12, 11,  7,  4,  6, 10,  8,  5])

In [40]:
df['public speaking points'].unique()

array([8, 3, 5, 1, 6, 4, 9, 7, 2])

In [41]:
df['self-learning capability?'].unique()

array(['yes', 'no'], dtype=object)

In [42]:
df['Extra-courses did'].unique()

array(['yes', 'no'], dtype=object)

In [43]:
df['reading and writing skills'].unique()

array(['excellent', 'poor', 'medium'], dtype=object)

In [44]:
df['memory capability score'].unique()

array(['excellent', 'medium', 'poor'], dtype=object)

In [45]:
df['Interested subjects'].unique()

array(['cloud computing', 'networks', 'hacking', 'Computer Architecture',
       'programming', 'parallel computing', 'IOT', 'data engineering',
       'Software Engineering', 'Management'], dtype=object)

In [46]:
df['interested in games'].unique()

array(['no', 'yes'], dtype=object)

In [47]:
df['Interested Type of Books'].unique()

array(['Prayer books', 'Childrens', 'Travel', 'Romance', 'Cookbooks',
       'Self help', 'Drama', 'Math', 'Religion-Spirituality', 'Anthology',
       'Trilogy', 'Autobiographies', 'Mystery', 'Diaries', 'Journals',
       'History', 'Art', 'Dictionaries', 'Horror', 'Encyclopedias',
       'Action and Adventure', 'Fantasy', 'Comics', 'Science fiction',
       'Series', 'Guide', 'Biographies', 'Health', 'Satire', 'Science',
       'Poetry'], dtype=object)

In [48]:
df['Gentle or Tuff behaviour?'].unique()

array(['stubborn', 'gentle'], dtype=object)

In [49]:
df['Management or Technical'].unique()

array(['Management', 'Technical'], dtype=object)

In [50]:
df['Salary/work'].unique()

array(['salary', 'work'], dtype=object)

In [51]:
df['hard/smart worker'].unique()

array(['hard worker', 'smart worker'], dtype=object)

In [52]:
df['worked in teams ever?'].unique()

array(['yes', 'no'], dtype=object)

In [53]:
df['Introvert'].unique()

array(['no', 'yes'], dtype=object)

In [54]:
col_list_obj = df.select_dtypes(include=['object']).columns.to_list()

In [55]:
col_list_obj

['self-learning capability?',
 'Extra-courses did',
 'reading and writing skills',
 'memory capability score',
 'Interested subjects',
 'interested in games',
 'Interested Type of Books',
 'Gentle or Tuff behaviour?',
 'Management or Technical',
 'Salary/work',
 'hard/smart worker',
 'worked in teams ever?',
 'Introvert',
 'Suggested Job Role']

In [56]:
def labelEncoding(df, columns):
    encoders = {}
    for col in columns:
        le = preprocessing.LabelEncoder().fit(df[col])
        df[col] = le.transform(df[col])
        encoders[col] = le
    return df, encoders

In [57]:
def label_encode_columns_w_fit_encoders(df, columns, encoders):
    for col in columns:
        le = encoders.get(col)
        df[col] = le.transform(df[col])
    return df

In [58]:
df, label_encoders = labelEncoding(df, col_list_obj)

In [59]:
df.head()

,Hours working per day,public speaking points,self-learning capability?,Extra-courses did,reading and writing skills,memory capability score,Interested subjects,interested in games,Interested Type of Books,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,9,8,1,1,0,0,4,0,21,1,0,0,0,1,0,7
1,12,3,0,1,2,1,7,1,5,0,1,0,0,0,1,18
2,11,3,0,1,2,0,6,1,29,1,0,1,0,0,1,18
3,7,5,1,0,1,0,7,0,23,0,0,1,1,1,1,28
4,4,3,0,0,2,0,0,1,7,1,0,1,0,1,1,2

In [60]:
df.dtypes

Hours working per day         int64
public speaking points        int64
self-learning capability?     int64
Extra-courses did             int64
reading and writing skills    int64
memory capability score       int64
Interested subjects           int64
interested in games           int64
Interested Type of Books      int64
Gentle or Tuff behaviour?     int64
Management or Technical       int64
Salary/work                   int64
hard/smart worker             int64
worked in teams ever?         int64
Introvert                     int64
Suggested Job Role            int64
dtype: object

In [61]:
df.describe()

,Hours working per day,public speaking points,self-learning capability?,Extra-courses did,reading and writing skills,memory capability score,Interested subjects,interested in games,Interested Type of Books,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
count,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000,19496.000000
mean,7.983125,5.013182,0.504514,0.496769,0.997897,0.999897,4.504668,0.498615,15.218250,0.498205,0.502872,0.495845,0.501231,0.496256,0.504514,16.515593
std,2.593573,2.587416,0.499992,0.500002,0.817885,0.816476,2.872012,0.500011,8.666487,0.500010,0.500005,0.499996,0.500011,0.499999,0.499992,9.761525
min,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,3.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000
50%,8.000000,5.000000,1.000000,0.000000,1.000000,1.000000,5.000000,0.000000,15.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,17.000000
75%,10.000000,7.000000,1.000000,1.000000,2.000000,2.000000,7.000000,1.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,25.000000
max,12.000000,9.000000,1.000000,1.000000,2.000000,2.000000,9.000000,1.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,33.000000

In [62]:
X = df[df.columns.difference(['Suggested Job Role'])]
y = df['Suggested Job Role']

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [64]:
def pred_metrics(model, X_train, y_train, X_test, y_test):
    print('----- Train -----')
    y_pred_train = model.predict(X_train)
    print('Misclassified samples: {}'.format((y_train != y_pred_train).sum()))
    print('Accuracy: {:.2f}'.format(accuracy_score(y_train, y_pred_train)))
    print('Precision: {:.2f}'.format(precision_score(y_train, y_pred_train, average='weighted')))
    print('Recall: {:.2f}'.format(recall_score(y_train, y_pred_train, average='weighted')))
    print('F1: {:.2f}'.format(f1_score(y_train, y_pred_train, average='weighted')))
    
    print('\n----- Test -----')
    y_pred_test = model.predict(X_test)
    print('Misclassified samples: {}'.format((y_test != y_pred_test).sum()))
    print('Accuracy: {:.2f}'.format(accuracy_score(y_test, y_pred_test)))
    print('Precision: {:.2f}'.format(precision_score(y_test, y_pred_test, average='weighted')))
    print('Recall: {:.2f}'.format(recall_score(y_test, y_pred_test, average='weighted')))
    print('F1: {:.2f}'.format(f1_score(y_test, y_pred_test, average='weighted')))
    
    return y_pred_test

## Decision Tree

In [65]:
dectree = DecisionTreeClassifier(max_depth=5, max_leaf_nodes=17)
dectree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5, max_leaf_nodes=17)

In [66]:
pred_metrics(dectree, X_train, y_train, X_test, y_test)

----- Train -----
Misclassified samples: 14913
Accuracy: 0.04
Precision: 0.02
Recall: 0.04
F1: 0.02

----- Test -----
Misclassified samples: 3776
Accuracy: 0.03
Precision: 0.01
Recall: 0.03
F1: 0.01

/Users/mane/Library/Python/3.9/lib/python/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/mane/Library/Python/3.9/lib/python/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

array([30,  3, 30, ...,  3, 16,  8])

## Support Vector Machine

In [67]:
svm_m = svm.SVC().fit(X_train, y_train)

In [68]:
pred_metrics(svm_m, X_train, y_train, X_test, y_test)

----- Train -----
Misclassified samples: 14941
Accuracy: 0.04
Precision: 0.06
Recall: 0.04
F1: 0.02

----- Test -----

/Users/mane/Library/Python/3.9/lib/python/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Misclassified samples: 3806
Accuracy: 0.02
Precision: 0.01
Recall: 0.02
F1: 0.01

/Users/mane/Library/Python/3.9/lib/python/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

array([20, 17, 31, ...,  8,  6, 23])

## Random Forest

In [69]:
rfc = RandomForestClassifier(n_estimators=100, max_depth=5, max_leaf_nodes=17, random_state=0)
rfc.fit(X_train, y_train)

RandomForestClassifier(max_depth=5, max_leaf_nodes=17, random_state=0)

In [70]:
pred_metrics(rfc, X_train, y_train, X_test, y_test)

----- Train -----
Misclassified samples: 14047
Accuracy: 0.10
Precision: 0.22
Recall: 0.10
F1: 0.08

----- Test -----
Misclassified samples: 3778
Accuracy: 0.03
Precision: 0.02
Recall: 0.03
F1: 0.02

/Users/mane/Library/Python/3.9/lib/python/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

array([15, 23, 31, ..., 17, 13,  7])

## K-Nearest Neighbors

In [71]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [72]:
pred_metrics(knn, X_train, y_train, X_test, y_test)

----- Train -----
Misclassified samples: 11583
Accuracy: 0.26
Precision: 0.31
Recall: 0.26
F1: 0.22

----- Test -----
Misclassified samples: 3760
Accuracy: 0.04
Precision: 0.04
Recall: 0.04
F1: 0.03

array([5, 4, 0, ..., 1, 0, 4])

## Gradient Boosting

In [73]:
gb = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3)
gb.fit(X_train, y_train)

GradientBoostingClassifier()

In [74]:
pred_metrics(gb, X_train, y_train, X_test, y_test)

----- Train -----
Misclassified samples: 13104
Accuracy: 0.16
Precision: 0.16
Recall: 0.16
F1: 0.16

----- Test -----
Misclassified samples: 3787
Accuracy: 0.03
Precision: 0.03
Recall: 0.03
F1: 0.03

array([30, 23, 15, ..., 32, 13,  7])

## Choosing the best model

In [75]:
joblib.dump(gb, "best_model.joblib")

['best_model.joblib']

In [76]:
joblib.dump(label_encoders, "encoders.joblib")

['encoders.joblib']

## Testing

In [77]:
input_data = {'Hours working per day': 4,
 'public speaking points': 3,
 'self-learning capability?': 'no',
 'Extra-courses did': 'yes',
 'reading and writing skills': 'poor',
 'memory capability score': 'excellent',
 'Interested subjects': 'Computer Architecture',
 'interested in games': 'yes',
 'Interested Type of Books': 'Cookbooks',
 'Gentle or Tuff behaviour?': 'stubborn',
 'Management or Technical': 'Management',
 'Salary/work': 'work',
 'hard/smart worker': 'hard worker',
 'worked in teams ever?': 'yes',
 'Introvert': 'yes',
 'Suggested Job Role': 'Business Systems Analyst'}
input_data

{'Hours working per day': 4,
 'public speaking points': 3,
 'self-learning capability?': 'no',
 'Extra-courses did': 'yes',
 'reading and writing skills': 'poor',
 'memory capability score': 'excellent',
 'Interested subjects': 'Computer Architecture',
 'interested in games': 'yes',
 'Interested Type of Books': 'Cookbooks',
 'Gentle or Tuff behaviour?': 'stubborn',
 'Management or Technical': 'Management',
 'Salary/work': 'work',
 'hard/smart worker': 'hard worker',
 'worked in teams ever?': 'yes',
 'Introvert': 'yes',
 'Suggested Job Role': 'Business Systems Analyst'}

In [78]:
input_col_list = col_list_obj[:-1]

In [79]:
input_df = pd.DataFrame([input_data])
input_encoded = label_encode_columns_w_fit_encoders(df=input_df, columns=col_list_obj, encoders=label_encoders)
input_encoded

,Hours working per day,public speaking points,self-learning capability?,Extra-courses did,reading and writing skills,memory capability score,Interested subjects,interested in games,Interested Type of Books,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,4,3,0,1,2,0,0,1,7,1,0,1,0,1,1,2

In [80]:
input = input_encoded[df.columns.difference(['Suggested Job Role'])]
input

,Extra-courses did,Gentle or Tuff behaviour?,Hours working per day,Interested Type of Books,Interested subjects,Introvert,Management or Technical,Salary/work,hard/smart worker,interested in games,memory capability score,public speaking points,reading and writing skills,self-learning capability?,worked in teams ever?
0,1,1,4,7,0,1,0,1,0,1,0,3,2,0,1

In [81]:
model = joblib.load("best_model.joblib")
predicted_label = model.predict(input)
predicted_label

array([10])

In [82]:
def decode_label(column, label, encoders):
    le = encoders.get(column)
    decoded_label = le.inverse_transform([label])

    return decoded_label[0]

In [83]:
decoded_label = decode_label('Suggested Job Role', predicted_label[0], label_encoders)
decoded_label

'E-Commerce Analyst'